body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}

/*USER PAGE
/*======================*/
.request-area {
    background-color: #f9d700;
    border: 1px solid #4b5263;
    text-align: center;
    padding: 20px;
}
/*USER INFO
/*=====================================*/
.btn {
    width: 150px;
    padding: 10px;
    border: 1px solid #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
}
.hidden {
    height: 0;
    width: 0;
    overflow:hidden;
}

/*  Basic Style
/* =================================== */


ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}


.container.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.section-bg {
    background: #f9fafc;
}


.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}

/* =================================== */
/*---------- Start Elements Page -------------*/
.whole-wrap {
    background-color: #fff;
}

.generic-banner {
    margin-top: 60px;
    background-color: #f9d700;
    text-align: center;
}

.generic-banner .height {
    height: 600px;
}
/* =================================== */
/*  Menu Styles
/* =================================== */

/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: flex;
    top: 100%;
    right: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    right: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 0px 8px 0px 20px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 12px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #f9d700;
}

.nav-menu ul ul {
    margin-right: 10px;
    margin-top: 0;
}

/* =================================== */
/*  Homepage Styles
/* =================================== */
.section-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.section-title h1 {
    margin-bottom: 10px;
}


/*-------- End Common Page Style For  -------------*/


#parent {
    padding: 12% 0;
}

#child {
}


.header-right {
    background-color: #f9d700;
    border: 1px solid #4b5263;
    padding: 50px;
    text-align: center;
}

.main-menu {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 18px 35px;
    background: #000;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*-------- header -------------*/

#header {
    padding: 0px 0px 24px 0px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

.align-items-center {
    align-items: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header-top {
    background: url("../img/menu-top.png");
    background-size: cover;
    height: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

/*-------- all blocks, Start Banner Area ------------*/
.banner-area {
    text-align: center;
    justify-content: center;
    display: flex; // FlexBox
    align-items: center;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1em;
    margin-top: 10px;
    color: #f9d700;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header-right .form-control {
    font-size: 14px;
    padding: 0.575rem 0.75rem;
    background-color: #000000;
    border: none;
}

.header-right .txt-field {
    margin-bottom: 1rem;
}
.header-right {
    background-color: #f9d700;
    border: 1px solid #4b5263;
    padding: 50px;
    text-align: center;
}

/*------fields------*/
.header-right .txt-field {
    margin-bottom: 1rem;
}
.header-right .form-control {
    font-size: 14px;
    padding: 0.575rem 0.75rem;
    background-color: #000000;
    border: none;
}

.header-right .btn-lg {
    width: 100%;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}

h1 {
    font-size: 36px;
}
h1, .h1 {
    font-size: 36px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.banner-content h6 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.text-white {
    color: #fff;
}

.text-white {
    color: #fff !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.img-icons {
    height: 25px;
    width:30px;
    background-color:#ffffff;
}

.avatar {
    height:150px;
    width:150px;
    border-radius:50%;
    object-fit: cover;
}

.requirement {
    position:absolute;
    margin-top:-9px;
}